* {
    margin: 0;
    padding: 0;
}


/* h1 {
  color: green
} */

/*.rojo {
    color: red
}

.verde {
    color:green
}

.azul {
    color: blue
}

#miId {
    color:black
}
*/

* {
    box-sizing: border-box;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.box {
    display:inline-block;
    width: 200px;
    height: 200px;
   /* border-color: black;
    border-style: solid;
    border-width: 2px;*/
    border: 2px solid black;
    padding: 50px;
    margin: 10px;
}

h1 {
    background-color: #112031;
    color: white;
    padding: 1rem;
}

p {
    background-color: #FF5C58;
    color: #faf9f9;
    padding: 1rem;
}
